.player
{
    display: flex;
    width: 100%;
    height: 52vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: end;
}

@media screen and (max-width: 800px)
{
    .player
    {
        height: 40vh;
    }
}

.play-button
{
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    border: 3px solid #fff;
    padding: 15px;
    border-radius: 40%;
}

.play-button:hover
{
    transition: 0.3s;
    scale: 1.2;
}

.audio-player
{
    width: 0;
    height: 0;
    z-index: -1000;
}

.player-volume
{
    margin-top: 20px;
    border: none;
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;margin-left: 6px;
    border-radius: 30px;
    background-color: #ffffff;
}

.player-volume::-moz-range-thumb /*firefox*/
{
    -webkit-appearance: none; 
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff; 
    cursor: pointer; 
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    transition: 0.3s;
  }
  
  .player-volume::-webkit-slider-thumb /*chromium based*/
  {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff; 
    cursor: pointer; 
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    transition: 0.3s;
  }